.mat-row{
    height: auto;
    padding: 5px 0px;
}
.respPersonCol div.email{
    float: left;
}
.respPersonCol div.emailSendStatus{
    float: right;
    padding-right: 30px;
}
.emailSending{
  height: 20px;
}
p{
    font-size: 20px;
    text-align: center;
}