label.timeLabel{
    float: left;
    width: 170px;
}
label.environment{
    color: darkgray;
    width: 180px;
}
span.toText{
    padding: 10px;
}
div.timeGroup{
    padding-top: 10px;
    padding-bottom: 10px;
}
div.buttonContainerDialog {
    margin-right: 25px;
    margin-left: 25px;
}