
<div class="buttonContainer">
    <button id="btnOpenAddMopDialog" class="primary" (click)="showNewMobDialog()" md-raised-button>Add</button>

    <button id="btnSubmitMops" *ngIf="mobListService.mobDatas.length > 0" class="primary right" (click)="submit()" md-raised-button>Submit</button>
    <md-progress-spinner *ngIf="loading" class="buttonSideSpinner" [color]="color" [mode]="mode" [value]="value">
    </md-progress-spinner>
  </div>

<p class="noMopMessage" *ngIf="mobListService.mobDatas.length === 0">
    There is no MOP yet, please add one by click on the Add button.
</p>
<table id="mopDataList" class="mobList" *ngIf="mobListService.mobDatas.length > 0">
  <thead>
    <tr>
      <th>section</th>
      <th>task</th>
      <th>environment</th>
      <th>application</th>
      <th>start time</th>
      <th>end time</th>
      <th>pre-validation time</th>
      <th>post-validation time</th>
      <th>shutdown time</th>
      <th>restart time</th>
      <th>resourceGroup</th>
      <th>bridgeInfo</th>
      <th>comment</th>
    </tr>
  </thead>
  <tbody>
    <tr (click)="showNewMobDialog(mobData)" *ngFor="let mobData of mobListService.mobDatas">
      <td>{{mobData.section}}</td>
      <td>{{mobData.task}}</td>
      <td>{{mobData.environment}}</td>
      <td>{{mobData.application}}</td>
      <td>{{mobData.startTime | date:'short'}}</td>
      <td>{{mobData.endTime | date:'short'}}</td>
      <td>{{mobData.preValidation | date:'short'}}</td>
      <td>{{mobData.postValidation | date:'short'}}</td>
      <td>{{mobData.shutDownTime | date:'short'}}</td>
      <td>{{mobData.restartTime | date:'short'}}</td>
      <td>{{mobData.resourceGroup}}</td>
      <td>{{mobData.bridgeInfo}}</td>
      <td>{{mobData.comment}}</td>
    </tr>
  </tbody>
</table>
