p.noMopMessage{
    font-size: 20px;
    text-align: center;
}
table.mobList{
    width: 100%;
    border-collapse: collapse; 
    margin: 30px 0px;
}
table.mobList th{
    text-transform: capitalize;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 2px solid green;
}
table.mobList td{
    color: black;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid gray;
}
table.mobList tr:hover td{
    background-color: blanchedalmond;
    cursor: pointer;
}