@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
  padding-top: 104px;
  margin: 0px;
}
.content {
  padding: 20px 30px 20px 30px;
}

body,
h1 {  
  color: #149717;
}
/* Structure */

.mobDataTableContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
}

md-row:nth-child(even) {
  background: #CCC
}

md-row::nth-child(odd) {
  background: #FFF
}

button.primary{
  background-color: #149717;
    color: white;
}
div.buttonContainer button.right{
  float: right;
}
div.buttonContainer .buttonSideSpinner{
  margin-top: 15px;
  float: right;
  height: 40px;
}
p{
  color: black;
}
